#style {
      color:#121212;
      color:#1E1E1E;
      color:#242424;

      color:#E0E0E0;
      color:#A0A0A0;

      color:#2979FF;
      color:#424242;
      color:#2A2A2A;

      color:#FF5252;
      color:#FFB300;
      color:#00C853;
      color:#29B6F6;

      color:#448AFF;
      color:#82B1FF;

      color:#1A1A1A;
      color:#448AFF;
      color:#333333;
}